/* Globales */
.con_numero_vacunas{
  position: relative;
}
.numero_vacunas{
  position: absolute;
  z-index: 1;
  left: 61%;
  top:48%;
  font-size: 60px;
}
.botonimg:hover{
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    -ms-transition:all 1.2s ease;
    width: 100%;
    -webkit-transition: scale(0.9);
    -moz-transition: scale(0.9);
    -o-transition: scale(0.9);
    -ms-transition:scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
}
.botonimg2:hover{
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    -ms-transition:all 1.2s ease;
    width: 100%;
    -webkit-transition: scale(1.1);
    -moz-transition: scale(1.1);
    -o-transition: scale(1.1);
    -ms-transition:scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    align-items: center;
}
.botonimg3:hover{
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  -ms-transition:all 1.2s ease;
  width: 100%;
  -webkit-transition: scale(1.7);
  -moz-transition: scale(1.7);
  -o-transition: scale(1.7);
  -ms-transition:scale(1.7);
  transform: scale(1.7);
  cursor: pointer;
  z-index: 1 ;
}
.img{
  max-width: 100%;
  height: auto;
}
.btn{
    border-bottom: none;
    outline: none;
}
a{
  text-decoration: none;  
}
a:active{
  text-decoration: none;  
}
.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */;
    text-align:center;
    
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
    
  }

  @media screen and (max-width: 720px) {
    .mobile-img{
      width: 50%;
    }
  }
  .iframe-container{
    overflow: hidden;
     padding-top: 56.25%;
      position: relative;
  }
  .zoom{
    border: 0;
     height: 100%;
      left: 0;
       position: absolute;
        top: 0;
         width: 100%;
  }

.lista-programas{
  list-style: none;
}

.inframe-sst{
 border: 10px;
 max-width: 100vh;
 max-height: 100vh;
}
.programas_E{
  text-decoration: none;
  width: 100vh;
  text-align: center;
}
.a_target{
  text-decoration: none;
  color:#523629
}
.a_target:hover{
  text-decoration: none;
  color:#523629
}

