.login-container{
    background: url(../../assets/home/HomeLogin.png) no-repeat center center fixed;
    background-size: cover;
}

.login{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    border: solid black 4px;
    width: 100%;
    min-height: 100vh;
}
.login h2{
    font-weight: 500;
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    
}
.login form{
    background-color: rgba(255, 245,230,0.7);
    padding: 0px 30px 10px 30px ;
}
.login img{
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    margin-top: 10px;
}
.terminos label{
    
    margin-bottom: 15px;
}
.terminos input{
    margin: 0px;
    padding: 0px;
    width: 20px;
}